<aside class="sidebar">
  <div class="sidebar-header">
    <i class="fas fa-fire" style="font-size: 2rem;"></i>
    <h2>Eon Forge</h2>
  </div>
  <ul class="sidebar-menu">
    <li>
      <a href="adminDashboard" class="active">
        <i class="fas fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fas fa-shopping-cart"></i>
        <span>Orders</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fas fa-box-open"></i>
        <span>Products</span>
      </a>
    </li>
    <li>
      <a href="users">
        <i class="fas fa-users"></i>
        <span>Users Management</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fas fa-tags"></i>
        <span>Categories</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fas fa-copyright"></i>
        <span>Brands</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fas fa-ticket-alt"></i>
        <span>Coupons</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fas fa-image"></i>
        <span>Banners</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fas fa-credit-card"></i>
        <span>Payments</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fas fa-percentage"></i>
        <span>Offers</span>
      </a>
    </li>
  </ul>
</aside>